<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Pet Alien</title>
  </head>
  <body>
    <noscript>
      <strong>What?! Javascript is disabled?!?!?!?! No alien pets for you!!</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>