<template>
  <section class="feed-tracker">
    <span v-for="index in satiation" :key="index"></span>
  </section>
</template>

<script>
export default {
  computed: {
    satiation() {
      return Math.floor(this.$store.state.satiation / 10);
    }
  }
};
</script>

<style>
.feed-tracker {
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  padding: 10px;
  width: 30px;
}

.feed-tracker span {
  background: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(255, 255, 255);
  height: 4px;
  padding: 0px;
}
</style>
