<template>
  <section class="game-window">
    <div class="display">
      <feed-tracker />
      <pet-window />
      <history-tracker />
    </div>
    <pet-controls />
  </section>
</template>

<script>
import FeedTracker from "./FeedTracker.vue";
import HistoryTracker from "./HistoryTracker.vue";
import PetWindow from "./PetWindow.vue";
import PetControls from "./PetControls.vue"


export default {
  name: "app",
  components: {
    FeedTracker,
    HistoryTracker,
    PetWindow,
    PetControls
  }
};
</script>

<style>
.game-window {
  color: rgb(0, 0, 0);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  margin-top: 60px;
}

.display {
  display: flex;
  justify-content: center;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  font-family: "Andale Mono", monospace;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  color: rgb(121, 121, 121);
}

button:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
</style>
