<template>
  <section class="history-tracker">
    <span v-for="(event, index) in history" :key="index">
      {{ historyIcon(event) }}
    </span>
  </section>
</template>

<script>
export default {
  computed: {
    history() {
      return this.$store.state.history;
    }
  },
  methods: {
    historyIcon(historyEvent) {
      switch (historyEvent) {
        case "FEED":
          return "🍔";
        case "CAN_DANCE":
          return "💃";
        case "CANT_DANCE":
          return "🤬";
      }
    }
  }
};
</script>

<style>
.history-tracker {
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  overflow: scroll;
  padding: 10px;
  width: 45px;
}

.history-tracker::-webkit-scrollbar {
  width: 5px;
}

.history-tracker::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

.history-tracker span {
  font-size: 30px;
}
</style>
