<template>
  <section class="control-panel">
    <pet-care v-if="petCreated"/>
    <pet-creation v-if="!petCreated"/>
  </section>
</template>

<script>
import PetCreation from "./PetCreation.vue";
import PetCare from "./PetCare.vue";

export default {
  components: { PetCare, PetCreation },
  computed: {
    petCreated() {
      return this.$store.state.petName !== "";
    }
  }
};
</script>

<style>
.control-panel {
  display: flex;
  justify-content: space-evenly;
}
</style>
