<template>
  <section class="pet-creation">
    <form>
      <div>
        <div class="pet-name">
          <label for="petName">Pet Name:</label>
          <input type="text" name="petName" id="petName" v-model="petName" />
        </div>
        <div class="pet-choice">
          <div id="crab">
            <input type="radio" name="petSelection" value="crab" id="crab" v-model="petType" v-on:click="displayPetImage"/>
            <label for="crab">Crab</label>
          </div>
          <div id="squid">
            <input type="radio" name="petSelection" value="squid" id="squid" v-model="petType" v-on:click="displayPetImage"/>
            <label for="squid">Squid</label>
          </div>
          <div id="cyclops">
            <input type="radio" name="petSelection" value="cyclops" id="cyclops" v-model="petType" v-on:click="displayPetImage"/>
            <label for="cyclops">Cyclops</label>
          </div>
        </div>
        <div class="button-div">
          <button class="select-button" v-on:click="createNewPet()">Select Pet!!</button>
        </div>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      petName: "",
      petType: ""
    };
  },
  methods: {
    createNewPet() {
      this.$store.commit("CREATE_NEW_PET", {
        name: this.petName,
        type: this.petType
      });
    },
    displayPetImage(event) {
      this.$store.commit("DISPLAY_PET", event.target.id);
    }
  }
};
</script>

<style>
.pet-choice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: auto;
  padding-top: 35px;
}

.pet-creation form {
  padding-top: 20px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.pet-creation {
  display: flex;
  justify-content: center;
}

.select-button {
  width: 500px;
}

.pet-creation input[type="text"] {
  border: none;
  border-bottom: 5px solid rgb(0, 0, 0);
  font-family: "Andale Mono", monospace;
  font-size: 40px;
  font-weight: bold;
  outline: none;
  text-align: center;
}

.pet-creation input[type="radio"] {
  appearance: none;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  height: 30px;
  width: 30px;
}

.pet-creation input[type="radio"]:checked {
  background-color: rgb(104, 104, 104);
}

.pet-choice label {
  font-family: "Andale Mono", monospace;
  padding-left: 20px;
}

.pet-name label {
  font-family: "Andale Mono", monospace;
}
</style>
