<template>
  <section class="pet-care">
    <div class="feed"><button v-on:click="feed">FEED</button></div>
    <div class="dance"><button v-on:click="dance">DANCE</button></div>
    <div class="release"><button v-on:click="release">RELEASE</button></div>
  </section>
</template>

<script>
export default {
  methods: {
    feed() {
      this.$store.commit("FEED_PET");
    },
    dance() {
      this.$store.commit("REQUEST_DANCE");
    },
    release() {
      this.$store.commit("RELEASE");
    }
  }
};
</script>

<style>
.pet-care {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: auto;
  padding-top: 35px;
}
</style>
