<template>
  <section class="pet-window">
    <div class="pet-name">
      <p>{{ this.$store.state.petName }}</p>
    </div>
    <div class="pet-image"><img :src="renderPetImage" /></div>
  </section>
</template>

<script>
export default {
  computed: {
    renderPetImage() {
      return this.$store.state.petImage;
    }
  },
  watch: {
    renderPetImage() {
      if (this.$store.state.dancing) {
        if (this.$store.state.satiation >= this.$store.state.currentPet.danceMotivation) {
          setTimeout(() => this.$store.commit("BOOGIE"), 600);
        } else {
          this.$store.commit("STOP");
        }
      }
    }
  }
};
</script>

<style>
.pet-window {
  border: 5px black solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 600px;
}

.pet-window img {
  height: 200px;
}

.pet-name {
  display: flex;
  height: 30%;
  justify-content: center;
}

.pet-image {
  align-items: flex-end;
  display: flex;
  height: 60%;
  justify-content: center;
}

.pet-window p {
  font-family: "Andale Mono", monospace;
  font-size: 60px;
  font-weight: bold;
}
</style>
